/*-----------------------*/
/* Colors                */
/*-----------------------*/

/* Edit these */
$theme-normal: #bef;
$bg-main: #fdfdfd;
$bg-sec: #eee;
$rank: #555;

/* Don't edit these */
$theme-light: lighten(saturate($theme-normal, 20%), 15%);
$theme-dark: darken(desaturate($theme-normal, 20%), 15%);
$theme-dark2: darken(desaturate($theme-dark, 20%), 15%);
$bg-sec-dark: darken($bg-sec, 6%);
$bg-sec-dark2: darken($bg-sec-dark, 6%);
$bg-sec-dark3: darken($bg-sec-dark2, 6%);

/*-----------------------*/
/* Header                */
/*-----------------------*/

#header {
  height: 200px;
  background: #05a;
  background: -webkit-linear-gradient($theme-dark, $theme-normal);
  background: -moz-linear-gradient($theme-dark, $theme-normal);
  background: -o-linear-gradient($theme-dark, $theme-normal);
  background: linear-gradient($theme-dark, $theme-normal);
  border-bottom: 1px solid #bbb;
}

/* Subreddit list */

#sr-header-area {
  background-color: inherit;
  border-bottom: none;
  line-height: 10px;
  
  a {
    font-size: 8px;
    color: #777;
    transition: color 1s;
  }
  
  a:hover {
    color: #444;
    transition: color 1s;
  }
  
  .selected a {
    color: black;
  }
}

/* Pagename */

.pagename {
  color: white;
  text-shadow: 0 0 20px $bg-sec;
  position: absolute;
  bottom: 50px;
  left: 30px;
  
  a {
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 22.5pt;
    font-variant: none;
    font-weight: normal;
    letter-spacing: -2px;
    -webkit-transition: color 1s, font-size 1s, text-shadow 1s, letter-spacing 1s;
    transition: color 1s, font-size 1s, text-shadow 1s, letter-spacing 1s;
  }
  
  a:hover {
    color: #6ac;
    font-size: 27.5pt;
    text-shadow: 0 0 10px #aaa;
    letter-spacing: 2px;
    text-decoration: none;
    -webkit-transition: color 1s, font-size 1s, text-shadow 1s, letter-spacing 1s;
    transition: color 1s, font-size 1s, text-shadow 1s, letter-spacing 1s;
  }
  
  a:active {
    letter-spacing: 4px;
  }
}

/* Snoo picture */

#header-img {
  position: absolute;
  right: 100px;
  top: 15px;
}

/* Bottom right utility bar */

#header-bottom-right {
  border-radius: 0;
  background-color: $bg-sec;
  border-left: 1px solid #bbb;
  border-top: 1px solid #bbb;
  
  .user, a:not(.message-count) {
    color: #bbb;
  }
}

/* The tabmenu */

#header .tabmenu {
  position: absolute;
  bottom: 2px;
  
  li {
    margin: 0 1px;
    
    a {
      border-color: $bg-sec-dark3;
      border-style: solid;
      border-width: 1px 1px 0 1px;
      border-radius: 5px 5px 0 0;
      font-weight: normal;
      color: $bg-sec-dark3;
      background-color: $bg-sec;
      padding: 2px 5px;
      
      &:hover {
        color: $theme-dark;
        background-color: $bg-sec-dark;
      }
    }
    
    &.selected a {
      font-weight: bold;
      color: $theme-normal;
      background-color: $bg-main;
      padding-bottom: 3px;
    }
}

/*-----------------------*/
/* Body                  */
/*-----------------------*/

body { background: $bg-main; }

.thing {
  .rank { visibility: collapse; }
  .unvoted { color: $rank; }
  .entry {
    .title:link { color: $theme-dark; }
    .title:visited { color: $bg-sec-dark3; }
    .tagline { color: $rank; }
    ul {
      li {
        padding-left: 0px;
        padding-right: 0px;
        a:link, a:visited {
          color: $rank;
          font-weight: normal;
        }
        a:hover { font-weight: bold; }
      }
      
      li + li::before {
        content: "|";
        padding-left: 1px;
        padding-right: 1px;
      }
    }
  }
  
  .stickied .entry {
    .title:link, .title:visited { color: #9d8; }
  }

  .child {
    margin-left: 0px;
    border-left: 1px dashed #05a;
  }
}

.link .usertext .md {
  background-color: white;
  border-color: $bg-sec-dark;
  max-width: 80em;
}

/*-----------------------*/
/* Markdown              */
/*-----------------------*/

.md {
  h1 {
    font-size: 2.2em !important;
  }

  h2 {
    font-size: 1.7em !important;
    font-weight: bold;
    border-bottom: 3px solid gray;
  }

  h3 { border-bottom: 2px solid gray; }

  h4 {
    border-bottom: 2px dashed gray;
  }

  h5 {
    border-bottom: 2px dotted gray;
  }

  h6 {
    text-decoration: none;
    border-bottom: 1px dotted gray;
  }

  blockquote {
    border-left: 2px solid gray;
    color: gray;
  }

  hr {
    background-color: gray;
    height: 2px;
  }

  code, pre {
    background-color: $bg-main !important;
    border-color: $bg-sec-dark;
    border-radius: 0;
  }
}

/*-----------------------*/
/* Sidebar               */
/*-----------------------*/

.side {
  padding: 0 10px;
  margin-top: 5px;
  border: 1px solid $bg-sec-dark;
}

.linkinfo {
  border-radius: 0;
  background-color: $bg-sec;
  border: 1px solid #bbb;
}

.morelink {
  background-image: none;
  background-color: $theme-normal;
  border-color: $theme-dark;
  border-radius: 10px;
  a {
    color: #7ab;
    letter-spacing: 0;
  }
  a:hover { color: #589; }
  .nub { width: 0; }
  
  &:hover {
    background-image: none;
    background-color: $theme-dark;
    border-color: #7ab;
    border-radius: 10px;
  }
}

.subscribe-button {
  background-image: none;
  border-radius: 7px;
  
  .remove {
    background-color: $bg-sec-normal;
    border: 1px solid $bg-sec-dark;
    border-radius: 7px;
  }
  
  .add {
    background-color: $theme-normal;
    border: 1px solid $theme-dark;
    border-radius: 7px;
  }
}

/*-----------------------*/
/* Scrollbar             */
/*-----------------------*/

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  background-color: $bg-sec-dark;
  border: 1px solid $bg-sec-dark2;
  height: 10px;
  width: 10px;
}
 
::-webkit-scrollbar-track {
  background-color: $bg-sec;
  border: 1px solid $bg-sec-dark;
}
 
::-webkit-scrollbar-thumb {
  background-color: $theme-dark2;
  border: 1px solid $theme-dark;
  border-radius: 2px;
}

::-webkit-resizer {
  background-color: $bg-sec-dark2;
  border: 1px solid darken($bg-sec-dark2, 6%);
}

/*-----------------------*/
/* Others                */
/*-----------------------*/

.sheets { margin-right: 325px; }

.wiki-page .wiki-page-content { margin-right: 334px; }
